<div class="planet-packages">
  <% @destination.packages.each do |package| %>
    <div class="<%=package.title%>-package column">
      <div class="category-link">
        <h3><%= link_to package.title, package_path(package), class: "category-link" %></h3>
      </div>
    </div>
  </div>
  <% end %>
</div>
