<h1>Destinations Show Page</h1>

<div class="planet-packages">
  <% unless @destination.nil? %>
    <% @destination.packages.each do |package| %>
      <div class="<%=package.title%>-package column">
        <div class="category-link">
            <h3><%= link_to package.title, package_path(package), class: "category-link" %></h3>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
