<% unless @destination.nil? %>
  <section class="<%= @destination.planet%>-hero">
    <div class="row intro">
      <div class="small-centered medium-uncentered medium-6 large-7 columns">
        <h1>Expand Your Space</h1>
      </div>
    </section>
    <br>
    <hr>
    <h3 class="text-center"> Our <%=@destination.planet%> Packages</h3>
    <hr>
    <br>
  <%= render partial: "shared/package", locals: { packages: @destination.packages } %>
<% end %>
