<% @destination.packages.each do |package| %>
  <div class="column destination">
    <h3><%= link_to package.title, package_path(package), class: "category-link" %></h3>
    <%= image_tag package.image, class: "package image" %>
  </div>
<% end %>
