<br>
<div class="row small-6 offset-3">
  <h4 class="centered-text">Welcome to Your Dashboard, <%= @user.username.capitalize %></h4>
  <h4 class="centered-text"><%= @user.email %></h4>
</div>
<br>
<hr>
<h4 class="text-center"><%= link_to "Your Recent Orders", orders_path %></h4>
<%= render partial: "layouts/forms" %>
