
.cart-image {
  object-fit: cover;
  width: 100px;
  height: 100px;
  }

.fi-x {
  color: red;
}

.fi-arrow-up {
  color: #2be28a;
}

.squish {
  width: 400px;
}

.quantity {
  position: absolute;
  color: black;
  font-size: 20px;
  top: 25%;
  right: 37%;
  z-index: 100;

}

.fi-arrow-down {
  color: red
}

.hidden {
  display: none;
}
