.off-canvas-wrap {
  .inner-wrap{
    min-height: 100vh;
  }
}

@mixin background-image-spec {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-image {
  @include background-image-spec;
  background-image: url("https://images.unsplash.com/photo-1445953993297-28dff00088f3?crop=entropy&dpr=2&fit=crop&fm=jpg&h=650&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300");
  min-height: 100vh;
 }

.centered-button {
  text-align:center;
  margin:auto;
  padding-top: 400px
}

.logo {
  color: black
}

.category-link {
  color: white;
  text-transform: uppercase;
}

.package {
    max-height: 333px;
    position: relative;
    width: 100%;
}

.column.destination {
    padding-left: 0px;
    padding-right: 0px;
}

.destination h3 {
  position: absolute;
  margin-top: 10%;
  text-align: center;
  // left: 500px;
  width: 100%;
  z-index: 1000;
}

.show-image-container {
  width: inherit;
  height: 400px;
  border-radius: 5px;
  padding-right: 0px;
  overflow: hidden;
  position: relative;
}

.show-image {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

div.callout {
  border-color: rgba(245, 218, 153, 0)
}

.large-9 {
  padding-left: 0px;
}

.show-package-title {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  top: 36px;
  left: 35px;
  width: 100%;
}

.title-span {
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: white; /* fallback color */
  background: rgba(221, 213, 200, 0.7);
  padding: 10px;
  border-radius: 5px;
}

.show-info-container {
  height: 400px;
  width: 100%;
  background: rgba(221, 213, 200, 0.7);
  padding: 15px;
  border-radius: 5px;
}

.thumbnail {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

.fi-shopping-bag {
   font-size: 28px
}
