.off-canvas-wrap {
  .inner-wrap{
    min-height: 100vh;
  }
}

@mixin background-image-spec {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-image {
  @include background-image-spec;
  background-image: url("https://images.unsplash.com/photo-1445953993297-28dff00088f3?crop=entropy&dpr=2&fit=crop&fm=jpg&h=650&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300");
  min-height: 100vh;
 }

.centered-button {
  text-align:center;
  margin:auto;
  padding-top: 400px
}

.logo {
  color: black
}

.category-link {
  color: white;
  text-transform: uppercase;
}

.package {
    max-height: 333px;
    position: relative;
    width: 100%;
}

.column.destination {
    padding-left: 0px;
    padding-right: 0px;
}

.destination h3 {
  position: absolute;
  margin-top: 10%;
  text-align: center;
  // left: 500px;
  width: 100%;
  z-index: 1000;
}

.show-image {
  max-height: 333px;
  position: relative;
  width: 100%;
}
