.off-canvas-wrap {
  .inner-wrap{
    min-height: 100vh;
  }
}

@mixin background-image-spec {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-image {
  @include background-image-spec;
  background-image: url("https://images.unsplash.com/photo-1445953993297-28dff00088f3?crop=entropy&dpr=2&fit=crop&fm=jpg&h=650&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300");
  min-height: 100vh;
 }

.centered-button {
  text-align:center;
  margin:auto;
  padding-top: 400px
}

.logo {
  color: black
}

.category-link {
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding-top: 200px;
}

.basic-package {
    @include background-image-spec;
    background-image: url("https://images.unsplash.com/photo-1458785893233-0940d354ed8a?crop=entropy&dpr=2&fit=crop&fm=jpg&h=650&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300");
    min-height: 333px;
}
