<div class="title-bar">
  <div class="title-bar-left">
    <button class="menu-icon" type="button" data-open="offCanvas"></button>
  </div>
  <div class="title-bar-right">
    <button class="menu-icon" type="button"></button>
  </div>
  <div class="menu-centered">
    <h4> Logo </h4>
  </div>
</div>
