<div class="title-bar">
  <div class="title-bar-left">
    <button class="menu-icon" type="button" data-open="offCanvas"></button>
  </div>
  <div class="title-bar-right">
    <a href= "<%= trip_path %>" class="cart-icon"><i class="logo fi-shopping-bag"></i></a>
    <%= link_to "Login", login_path %>
      <% if current_user%>
        <%="Logged in as #{@user.username}" %>
      <% end  %>
  </div>
  <div class="menu-centered">
    <ul class = "menu">
      <h4 class="logo"> Logo </h4>
      <% unless @destinations.nil? %>
        <% @destinations.each do |destination| %>
          <li><%= link_to destination.planet, destination_path(destination.planet) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
