<div class="title-bar">
  <div class="title-bar-left">
    <button class="menu-icon" type="button" data-open="offCanvas"></button>
  </div>
  <div class="title-bar-right">
    <%= button_to "Trip", trip_path, method: "get" %>
    <button class="menu-icon" type="button"></button>
  </div>
  <div class="menu-centered">
    <ul>
    <% @destinations.each do |destination| %>
      <li><%= link_to destination.planet, destination_path(destination.planet) %></li>
    <% end %>
  </ul>
    <h4 class="logo"> Logo </h4>
  </div>
</div>
