  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <div class="off-canvas position-left" id="offCanvas" data-off-canvas>

        <!-- Close button -->
        <button class="close-button" aria-label="Close menu" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>

        <!-- Menu -->
        <ul class="vertical menu" data-drilldown>
              <li>
                <a>Item 1</a>
                <ul class="vertical menu">
                  <li><a href="#">Item 1A</a></li>
                  <li><a href="#">Item 1B</a></li>
                </ul>
              </li>
              <li>
                <a>Item 2</a>
                <ul class="vertical menu">
                  <li><a href="#">Item 2A</a></li>
                  <li><a href="#">Item 2B</a></li>
                </ul>
              </li>
              <li>
                <a>Item 3</a>
                <ul class="vertical menu">
                  <li><a href="#">Item 3A</a></li>
                  <li><a href="#">Item 3B</a></li>
                </ul>
              </li>
            </ul>
          </div>
      <div class="off-canvas-content" data-off-canvas-content>
        <%= render partial: 'layouts/nav' %>
      </div>
    </div>
  </div>
</div>
