<!DOCTYPE html>
<html>
<head>
  <title>SpaceAge</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/off_canvas_nav' %>
<%= yield %>
  <script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"></script>
  <script src="https://cdn.jsdelivr.net/foundation/6.2.1/js/foundation.offcanvas.js"></script>
</body>
</html>
