@mixin hero {
  background-size: cover;
  height: 85vh;

  .intro {
    padding: 3rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  h1 {
    color: white;
    font-size: 1.5rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center;
  }
  p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem;
  }
}

.Mars-hero {
  background: url("https://images.unsplash.com/photo-1451188214936-ec16af5ca155?crop=entropy&dpr=2&fit=crop&fm=jpg&h=650&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1250") no-repeat center center;
  @include hero;
}

.Venus-hero {
  background: url("https://images.unsplash.com/photo-1446776754471-f39a8a4eb422?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=a97e5754743d96eba5a31c008565f2c0") no-repeat center center;
  @include hero;
}

.Moon-hero {
  background: url("https://images.unsplash.com/photo-1428709671697-959dbd39a3ac?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=a5a9b30667d19f625aa68604749683f6") no-repeat center center;
  @include hero;
}
