<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <i class="fi-social-github"></i>
      <p class="links">
        <a href="https://github.com/Jbern16">Jon Bernesser</a>
        <a href="https://github.com/marinacor1">Marina Corona</a>
        <a href="https://github.com/jeneve">Jeneve Parish</a>
      </p>
    </div>
    <a href="https://www.turing.io/">Turing School</a>
  </div>
</footer>
